#GG{
    color: white;
    font-size: 30px;
}
#all{
    font-size: 20px;
}
#Nf {
    height: 30px;
    text-align: center;
    font: bold;
    font-size: 12px ;
    color: rgb(17, 5, 5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#men{
    text-align: center;
    font-style: italic;
}
#bcrd{
    text-align: center;
}
#card{
    text-align: center;
    width: 220px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: auto;

}
#all li a:hover{
    color: aquamarine;
}
